<h1><%= @project.name %></h1>
<%= flash_message %>
<ul>
  <% @entries.each do |entry| %>
    <%= render 'entry_list_element', entry_list_element: entry %>
  <% end %>
</ul>
<%= link_to('Go back', projects_path) %>
<br/>
<%= link_to('New entry', new_project_entry_path(@project)) %>
